.label-floatlabel {
  font-size: 75%;
  color: #3498db;
  margin-left: 1px;
}

.floatlabel-wrapper {
  display: inline-block;
}
.floatlabel-wrapper input,
.floatlabel-wrapper input.form-text {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
html.js .floatlabel-wrapper input.form-autocomplete {
  background-position: 100% 7px;
}
